@font-face {
    font-family: 'SHARPIN';
    src: url('SHARPINRegular.eot');
    src: url('SHARPINRegular.eot?#iefix') format('embedded-opentype'),
        url('SHARPINRegular.woff2') format('woff2'),
        url('SHARPINRegular.woff') format('woff'),
        url('SHARPINRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

